@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
   font-family: 'Roboto Condensed', sans-serif;
}
html{
    font-size: 62.5%;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 70vw;
    margin: .3rem auto;
    margin-bottom: 0;

    & div ul{
        list-style: none;
        display: flex;
        gap:4rem;
        background-color: #66b4e1;
        color: white;
        padding: 2rem 9rem;
        font-size: 2rem;
        & li {
            text-transform:uppercase;
        }
    }
}
main{
   background-image: url("banner-bg.jpg");
    height: 95rem;
    background-repeat: no-repeat;
    background-size:99%;
    background-position: center center;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    padding-top: 23rem;
    color: white;
    gap: 4rem;
    align-items: center;
    & .h {
        width: 60vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        & h1{
            font-size: 6rem;
            text-align: center;
        }
        & p{
            width: 60vw;
            font-size:1.8rem;
            text-align: center;
        }

    }
    & .two_button button{
        width: 30rem;
        height: 6rem;
        font-size: 2rem;
        font-weight: 600;
        background-color: transparent;
        border-radius: .5rem;
        color: white;
        border:  1px solid white;
        transition: all .3s ease-in-out;
        &:hover{
            color:#66b4e1;
            background-color: white;
            border: none;
        }
    }

}
.line{
    width: 60vw;
    margin: 4rem auto 2rem auto;

    height: .1rem;
    background-color: gray;
}
section{
    width: 70vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 2rem;
    position: relative;
   top: -16rem;
     & div img{
         width: 100%;
        height: 100%;
        border-radius:1rem;

    }
    & div:hover{

    }

}
.section_one{
      width: 90vw;
      margin: 0 auto;
       display: flex;
    flex-direction: column;
    gap: 4rem;
    & p:first-child{
        font-size: 1.6rem;
        color: #66b4e1;
    }
    & p:nth-child(2){
        font-size:3rem;
        font-weight: 600;

    }
    & .cards{
        display: grid;
        grid-template-columns:repeat(4, 1fr);
        gap: 2rem;
        margin: 2rem;
        & .item{
            border: 1px solid gray;
            padding: 4rem 2rem;
            border-radius: 2rem;
            width: 40rem;
            display: flex;
            flex-direction: column;
            gap:5rem;
            align-items: center;

            & .item_content{
                display: grid;
                grid-template-columns:1fr 4fr;
                gap: 1rem;
                & img{
                    border-radius: 1rem;
                    background-color: #e6e1e1;
                    padding: 1rem;
                    grid-area :1 / 1 / 3 / 2;
                }
                & p{
                    font-size: 1.8rem;
                }

            }
            & div:nth-child(2) img{
                width: 100%;
                height: 100%;
                border-radius: 2rem;
                margin-block: 2rem;
            }
            & div button{
                width: 30rem;
                background-color: transparent;
                height: 3rem;
                border: 1.9px solid #66b4e1;
                color: #66b4e1;
                font-size: 1.7rem;
                font-weight: 600;
            }
        }
    }
}